<%- include('includes/head') %> <%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg2"></div>

    <div class="col-lg8 my-3"></div>
    <h1 class="text-center">Agenda</h1>
    <p class="text-center lead">Aqui está sua lista de contatos.</p>

   
      <div class="responsive-table">
        <table class="table my-3">
          <thead>
            <tr>
              <th scope="col">Nome</td>
              <th scope="col">Sobrenome</th>
              <th scope="col">Telefone</th>
              <th scope="col">E-mail</th>
            </tr>
          </thead>
          
        </table>
      </div>
    </div>
    <div class="col-lg2"></div>
  </div>
</div>

<%- include('includes/footer') %>
