<%- include('includes/head') %> 

<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>


    <div class="col-lg-8 my-3"> <!-- Coluna do meio -->
      <h1 class="text-center">Login</h1>
      <p class="text-center lead">Entre ou faça seu cadastro</p>

      <div class="row">
        <div class="col-lg">
          <h4>Faça seu cadastro</h4>
          <div class="form-group">
            <label>Endereço de email</label>
            <input type="email" class="form-control" name="email">
           
          </div>
          <div class="form-group">
            <label>Senha</label>
            <input type="password" class="form-control" name="senha">
          </div>

          <button type="submit" class="btn btn-primary my-2">Criar Conta</button>
  
        </div>
        <div class="col-lg">
          <h4>Faça seu Login</h4>
          <div class="form-group">
            <label>E-mail Cadastrado</label>
            <input type="email" class="form-control" name="email">
           
          </div>
          <div class="form-group">
            <label>Senha</label>
            <input type="password" class="form-control" name="senha">
          </div>
          
          <button type="submit" class="btn btn-primary my-2">Entrar</button>
        </div>
      </div>
     
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
